<div class="col-xs-12 col-sm-4">
	<div class="devices">
		<div class="row">
			<div class="col-xs-12 name"><%= device.name %></div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="availability"><%= device.availability %></div>
			</div>
		</div>
	</div>
</div>