<title>TechShare</title>

<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="col-xs-12">
			<h1>TechShare</h1>
		</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>A marketplace for people to lend and borrow tech devices</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="sign_up">
				<!-- <button type="button" class="sign_up">Sign Up Here!</button> -->				
				<% if user_signed_in? %>
					<h3>Thanks for Signing Up! We are still setting things up, but we will email you when we are ready! Don't forget to check out our Facebook page and our Twitter!</h3>
				<% else %>
					<h3>Need to borrow a tablet, camera, video camera, lenses, or even a mobile phone? TechShare wants to help you!</h3>
					<%= link_to "Sign Up Here!", signup_path, :class => "btn btn-primary btn-lg" %>
				<% end %>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<% @devices.each do |device| %>
					<%= render 'devices/device', :device => device %>
				<% end %>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="info">
							<div class="col-sm-4">
								<p>Technology is very fun to develop and use, but they can be really expensive to buy at retail price. Instead of buying tech devices, you can just borrow them from people that are not using them currently</p>
							</div>
							<div class="col-sm-4">
								<p>Have a tech device but don't have a need for it anymore? Instead of having it sit at home, just lend it out to someone that may want it!</p>
							</div>
							<div class="col-sm-4">
								<p>Worried about having your device stolen or broken when it's away? Become a member, and you can make money for the devices you lend out AND get them insured with a low monthly payment!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>