<title>TechShare</title>
<h1>TechShare</h1>
<h2>A marketplace for people to lend and borrow tech devices</h2>
<p>Technology is very fun to develop and use, but they can be really expensive to buy at retail price. Instead of buying tech devices, you can just borrow them from people that are not using them currently</p>
<p>Have a tech device but don't have a need for it anymore? Instead of having it sit at home, just lend it out to someone that may want it!</p>
<p>Worried about having your device stolen or broken when it's away? Become a member, and you can make money for the devices you lend out AND get them insured with a low monthly payment!</p>