// Place all the styles related to the Devices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.devices{
	//background-color: white;
	//border-style: solid;
	//border-width: 1px;
	//border-color: #777777;
	//-moz-box-shadow: 0px 5px 0px #777777;
	//-webkit-box-shadow: 0px 5px 0px #777777;
	//box-shadow: 5px 5px 5px #777777;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 20px;
	margin-top: 10px;
}

.availability{
	
	font-size: 150%;
	text-align: center;
	padding: 10px;
	//background: green;
	background: #087F00;
	border-style: solid;
	border-width: 1px;
	//border-color: green;
	border-color: #087F00;
	border-radius: 20px;
	margin-top: 10px;
	color: white;
	width: 100%;
	//-moz-box-shadow: 0px 5px 0px #044000;
	//-webkit-box-shadow: 0px 5px 0px #044000;
	//box-shadow: 0px 5px 0px lightgreen;
	//box-shadow: 0px 5px 0px #044000;

	a:link{
		color: white;
	}

	a:visited{
		color:white;
	}

	a:hover{
		color:white;
		background-color: transparent;
		//-moz-box-shadow: 0px 0px 0px #044000;
		//-webkit-box-shadow: 0px 5px 0px #044000;
		//box-shadow: 0px 0px 0px lightgreen;
		//box-shadow: 0px 0px 0px #044000;
	}

	a:active{
		color:white;
	}

}

.device_email{
	font-size: 150%;
	text-align: center;
	color: white;
	margin-top: 15px;
}

.available{
	
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: green;
	overflow: hidden;
}

.name{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 150%;

	a:link{
		color: white;
	}

	a:visited{
		color:white;
	}

	a:hover{
		color:white;
		background-color: transparent;
	}

	a:active{
		color:white;
	}
}

.image{
	overflow: hidden;
}

.style-image{
	width: 100%;
	//height: 100%;
	height: auto;
}