// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html, body {
	background: url("public-domain-images-free-high-resolution-quality-photos-unsplash-0188.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.info{
	margin-top: 20px;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

p {
	color: white;
}

.panel {

	background-color: rgba(255, 255, 255, 0.10);
	
}

